.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.divContainer {
  background-color: #fff;
  width: 500px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #333333;
  border-width: 1.5px;
  margin: auto;
}

.divGrid {
  box-sizing: border-box;
  aspect-ratio: 1;
}